@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "SofiaPro";
	src: url("../public/SofiaPro/Sofia_Pro_Light.otf");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "SofiaPro";
	src: url("../public/SofiaPro/Sofia_Pro_Regular.otf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SofiaPro";
	src: url("../public/SofiaPro/Sofia_Pro_Medium.otf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "SofiaPro";
	src: url("../public/SofiaPro/Sofia_Pro_Semi_Bold.otf");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "SofiaPro";
	src: url("../public/SofiaPro/Sofia_Pro_Bold.otf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "SofiaPro";
	src: url("../public/SofiaPro/Sofia_Pro_Italic.otf");
	font-weight: 400;
	font-style: italic;
}

* {
	font-family: "SofiaPro", sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  letter-spacing: -0.05em;
}